@keyframes Text-Appearing{
	0% {opacity:0; color:rgb(255, 255, 255)}
	100%{opacity:1; linear-gradient(to right, #b88746 0%, #fdf5a6 100%);color:#000000;}
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #000000;
    overflow: hidden;
    font-family: sans-serif;
    animation-name: Text-Appearing;
    animation-duration: 2.5s;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #dfd0d0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}




/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ffffff;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #14213D;
    color: white;
}

body {
    background: #3d405b;
    padding:15px;

    }

#circle{


    border-radius: 50%;

}

#bigger {
    font-size: 40px;


}

img {
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 500px;
        max-height: 500px;
        text-align: center;
        animation-name:Text-Appearing;
        animation-duration: 8s;
      }


h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

#stupid{
    position:absolute;

}
.picture {
        display: table; margin: 0 auto;
        margin: 0 2px;
        display: inline-block


}

#container {
    background-color: #f4f1de;
    border:4px solid #000000;
    margin: auto;
    overflow: hidden;
    padding:15px;
    min-height: 90%;
    min-width: 96.7%;
    position:fixed;
    animation-name: Text-Appearing;
    animation-duration: 3s;




}


.Textstuff {
    animation-name:Text-Appearing;
    animation-duration: 8s;

}

h1 {
    margin-left: 10px;

}

#resume {

    min-height: 1000px;
    min-width: 750px;




}

#paragraph {
    padding-left: 100px;
    padding-right: 100px;





}

#me {

    height: 400px;
    width: 400px;


}